<!DOCTYPE html>
<html>
  <head>
    <title>TestandoGit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
teste_01
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
teste_02
  <body>
    <%= yield %>
  </body>
</html>
